#grouptext {
    text-align: justify;
}
#btn-back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    visibility: hidden;
    opacity: 0;
    border-radius: 2.5rem;
    transition: visibility 0.3s ease, opacity 0.3s ease;
}
#title {
    color: var(--primary-color);
}
#btn-container {
    background-color: var(--primary-color);
}
.topic-btn {
    --bs-btn-color: var(--secondary-color);
    --bs-btn-hover-color: var(--primary-color);
    --bs-btn-hover-bg: var(--secondary-color);
    --bs-btn-hover-border-color: var(--secondary-color);
    --bs-btn-active-color: var(--primary-color);
    --bs-btn-active-bg: var(--secondary-color);
    --bs-btn-active-border-color: var(--secondary-color);
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 2.5rem;
    border-width: 0.1px;
    margin: 0 0.25rem;
}
